

h1{
    color:white;
    font-size: 50px;
    font-family: Verdana;
    text-align: center;
    border-style: solid;
    border-color: gold;
    border-width: 8px;
    background-color: greenyellow;
}
p{
    font-size: 21px;
}

.img{
    display:inline;
    width:350px;

}
.container{
    display: flex;
}

.stufftwo{
    display: block;
    flex: 3;
    padding: 2%;
    margin-left: auto;
}
.images{
    display:flex;
}
.stuff{
    display:block;
    text-align: left;
}
.sidebar{
    display:inline-block;   
    background-color: greenyellow;
    color: white;
    border-style: solid;
    border-color: gold;
    border-width: 8px;
    flex: 1;
    padding: 2%;
   overflow-x: hidden;
}

